tests/schemas/Proxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="IpPortType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}:[0-9]{1,6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProxyType">
    <xs:sequence>
      <xs:element name="Ip"   type="IpPortType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Type" type="xs:string"  minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proxy" type="ProxyType"/>
</xs:schema>
